/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Indie Flower', cursive;
  /* font-family: "Arial", sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* hero part  */
.hero {
  width: 100%;
  background-image: url(../img/bg-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 50px;
}
.navbar {
  padding: 20px 0 ;
  border-bottom: 2px solid #c9f8ff2a;
  background-color: #0000004e;
}
.nav-list {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.nav-list-item-link {
  color: #c7c7c7;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 8rem;
  color: #fff;
  margin: 0;
}
.btn {
  padding: 20px 100px;
  background-color: #ffffff00;
  color: #fff;
  border:1px solid #D2EFFF;
  margin-bottom: 50px;
  cursor: pointer;
}
.play img {
  width: 200px;
  cursor: pointer;
}

.content-title{
  text-align: center;
  font-size: 4rem;
}
.wrapper{
  display: flex;
  align-items: center;
}
.musician-img{
  margin-right: 10px ;
  width: 400px;
  height: 400px;
  object-fit:fill ;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer {
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.footer .title {
  font-size: 4rem;
}

